{% extends 'accounting/index.html' %}
	{% block content %}

<div class="content">

	<h1>Accounting Playground</h1>
	<p>Use this playground to experiment with accounting rules and concepts without logging in.</p>

	<div class="playground-entries"> 
		{% if entries %}
		<table class="entries-table">
			<form method="post" action="{% url 'playground' %}">
				{% csrf_token %}
				<thead>
					<tr>
						<th>Date</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						{% for field in form %}
						<td>{{ field }}</td>
						{% endfor %}
						<td>
							<button class="add-entry-button" type="submit" name="add">Add entry</button>
						</td>
					</tr>

					{% for entry in entries %}
					<tr>
						<td>{{ entry.entry_date}}</td>
						<td>{{ entry.description }}</td>
						<td> 
							<button class="edit-button" name="edit">Edit</button>
							<button class="delete-button" name="delete">Delete</button>    
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</form>
		</table>
		{% endif %}
	</div>

	<div class="playground-financial-statement"> 

	</div>
</div>

{% endblock content %}



